   .div1{
  width:100%;
  top:0%;
  left:0%;
  background-color: green;
  text-align: center;
  color:white;
  padding:2%;
}
a:link{
  color:white;
  margin-right:2%;
  font-size:larger;
}
h4{
  color:green;
}
.div2{
  display:inline-block;
  margin-top:2%;
  width:250px;
  height:100px;
  vertical-align:top;
  border:1px;
  border-color:rgb(14, 106, 187);
  border-style: ridge;
  border-width:1px;
  padding:20px;
  background-color: lightblue;
}
.div3{
  display:inline-block;
  margin-top:3%;
  width:250px;
  height:100px;
  vertical-align:top;
  margin-left:50%;
  border:1px;
  border-color:rgb(14, 106, 187);
  border-style: ridge;
  border-width:1px;
  padding:20px;
  background-color: lightblue;
}
.div4{

  margin-top:5%;
  width:250px;
  height:100px;
  vertical-align:top;
  border:1px;
  border-color:rgb(14, 106, 187);
  border-style: ridge;
  border-width:1px;
  padding-bottom:40px;
  background-color: lightblue;
}
